<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/appStyles.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<h2 class="my-5">Doctors</h2>
<a href="/signup">Add doctor</a>
<a href="/logout">Log out</a>
<div th:if="${doctors.size() == 0}">
    <h2>No doctors</h2>
</div>
<table th:if="${doctors.size() > 0}">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.firstName}"></td>
        <td th:text="${doctor.lastName}"></td>
        <td th:text="${doctor.email}"></td>
        <td><a th:href="@{/doctor/edit/{id}(id=${doctor.id})}" th:text="'Update doctor with id' + ${doctor.id}"></a></td>
        <td><a th:href="@{/doctor/delete/{id}(id=${doctor.id})}" th:text="'Delete doctor with id' + ${doctor.id}"</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>